@page "/"
@using BlazorEF.Shared.Services
@inject INoteService NoteService

<h2>Generate Data</h2>

<div class="form-group">
    <input type="submit" value="Create" @onclick="(async () => await CreateFakes())" class="btn btn-primary"/>
    <input type="submit" value="Delete" @onclick="(async () => await DeleteFakes())" class="btn btn-danger"/>
</div>

@code {
    private async Task CreateFakes()
    {
        await NoteService.CreateFakes((10));
    }

    private async Task DeleteFakes()
    {
        var notes = await NoteService.ReadAll();
        foreach (var note in notes)
        {
            await NoteService.Delete(note.NoteId);
        }
    }
}